<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meachei">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BuscarLocalActivity" />
        <activity android:name=".OndeEstouActivity" />
        <activity android:name=".LocaisSalvosActivity" />
        <activity android:name=".EditarLocalActivity" />
        <activity android:name=".PermissaoBateriaActivity" />
        <activity android:name=".MaisOpcoesActivity" />

        <activity
            android:name=".ImportadorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*" android:scheme="content" />
                <data android:scheme="file"/>
                <data android:pathPattern=".*\\.meachei"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>

        <receiver 
            android:name=".VolumeButtonReceiver" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION"/>
            </intent-filter>
        </receiver>

        <service 
            android:name=".VolumeActionService" 
            android:exported="false"/>

        <service 
            android:name=".ProximityService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>