name: Gerar APK Android

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar codigo
      uses: actions/checkout@v4

    - name: Configurar Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Construir o APK (Usando Gradle do Sistema)
      run: gradle assembleDebug --no-daemon

    - name: Salvar o APK para download
      uses: actions/upload-artifact@v4
      with:
        name: meu-aplicativo-debug
          
        path: app/build/outputs/apk/debug/app-debug.apk
